<a mat-list-item class="nav-link text-dark" [routerLink]='["/"]'>Personal card</a>
<a mat-list-item class="nav-link text-dark" [routerLink]='["/counter"]'>Events</a>
<a mat-list-item class="nav-link text-dark" [routerLink]='["/fetch-data"]'>Chats</a>
<a mat-list-item class="nav-link text-dark" [routerLink]='["/contacts"]'>Contacts</a>
<a mat-list-item class="nav-link text-dark" [routerLink]='["/calendar"]'>Calendar</a>
<a mat-list-item class="nav-link text-dark" [routerLink]='["/administrations"]'>Administrations</a>
