<mat-card class="example-card">
  <mat-card-header style="border-bottom: 1px solid lightgray">
    <mat-card-title>You have 4 notifications</mat-card-title>
  </mat-card-header>
  <mat-card-content class="notContent">
    <mat-list> 
      <nav-menu-notification-item *ngFor="let note of notifications" [inNavNotificationItem]="note"></nav-menu-notification-item>
    </mat-list>
  </mat-card-content>
  <mat-card-actions class="text-center" style="border-top: 1px solid lightgray">
    <button mat-button>view all</button>
  </mat-card-actions>
</mat-card>
